.vscode/
**/__pycache__/
**/*.py[cod]
*.sqlite3
*.log
compose/*
node_modules/
app/static_src/
dockerfile
package.json
package-lock.json
Pipfile
Pipfile.lock
webpack.config.js
.babelrc.json
.dockerignore
**/node_modules
# **
# !cdn_static_root/
# !dashboard/**
# !epa/**
# !fixtures/**
# !projects/**
# !static/**
# !templates/**
# !users/**
# !epa.env
# !manage.py
# !setup.sh