@import '../abstracts/variables';
@import '../abstracts/mixins';

form {
  .form-control:focus {
    border-color: $primary-color-1;
    box-shadow: $box-shadow-form;
  }

  .form-check-input:focus {
    box-shadow: $box-shadow-form;
  }

  .form-check-input:checked {
    background-color: $primary-color-1;
  }

  .form-control {
    color: $primary-color-2;

    &.input-updated {
      position: relative;
      background-color: #FFF9EB;
      border-color: #FDC534;
      border-width: 2px;
      background-image: url("/static/assets/icons/i_edit_yellow.svg");
      background-position: center right;
      background-repeat: no-repeat;
      background-size: auto 1rem;

      &:focus {
        box-shadow: 0 0 0.5rem rgba(253, 197, 52, 0.8);
      }
    }
  }

  @each $placeholder in $form-control-placeholders {
    .form-control#{$placeholder} {
      color: $secondary-gray-color-2;
      font-size: $font-size-normal;
    }
  }

  .input-item,
  .text-item {
    position: relative;
    padding-bottom: 1rem;

    &.optional label.form-label::after {
      content: '- optional';
      font-weight: 300;
      font-style: italic;
      padding-left: .5rem;
    }

    .icon-question {
      @include info-icon;
    }

    .form-text.to-right {
      position: absolute;
      right: 0;
    }

    textarea {
      max-height: 10rem;
    }

    .input-group-text {
      background-color: $primary-gray-color-2;
      color: $primary-color-2;
      @include user-select-none;
    }
  }

  .btn {
    margin-top: 1rem;
  }
}

// CSS for https://github.com/Choices-js/Choices
.choices {
  width: 100%;

  .choices__inner {
    @include flex-row;
    align-items: center;
    padding: 0.25rem;
    background-color: $white;
    border-radius: 0.25rem;
  }

  .choices__input {
    background-color: $white;
  }

  .choices__list--multiple .choices__item {
    background-color: $white;
    border-color: $primary-color-1;
    color: $primary-color-1;
    margin-bottom: 0;
  }

  &[data-type*=select-multiple] .choices__inner .choices__button,
  &[data-type*=text] .choices__inner.choices__button {
    background-image: url("/static/assets/icons/i_close.svg");
  }
}