{% extends 'base.html' %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block head_block %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" crossorigin=""
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="/>
    <link rel="stylesheet" href="{% static 'css/map.css' %}" type="text/css">
{% endblock head_block %}

{% block start_body_scripts %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" crossorigin=""
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==">
    </script>
{% endblock %}

{% block title %}{% translate "Projects" %}{% endblock title %}

{% block content %}


<!-- use showModal(event, modalId=, attrs = { list of attributes you want to add to the form tag inside the modal }) to call the modal -->
{% include "modal_template.html" with id="uploadScenarioModal" modal_style_class="modal--gui" submit_btn_label="Upload" title="Scenario upload" form=scenario_upload_form %}
{% include "modal_template.html" with id="uploadProjectModal" modal_style_class="modal--gui" submit_btn_label="Upload" title="Project upload" form=project_upload_form %}
{% include "modal_template.html" with id="shareProjectModal" modal_style_class="modal--gui" submit_btn_label="Share" title="Share project" form=project_share_form %}
{% include "modal_template.html" with id="revokeProjectModal" modal_style_class="modal--gui" submit_btn_label="Revoke access" title="Manage project access" form=project_revoke_form %}
{% include "modal_template.html" with id="useCaseModal" modal_style_class="modal--gui" submit_btn_label="Create project" title="Manage project access" form=usecase_form %}


    <main>
        <section class="header">
            <div>
                <div class="header__left"></div>
                <h1 class="header__title">{% translate "My Projects" %}</h1>
                <div class="header__back"></div>
            </div>
        </section>

        <section class="projects-new">
            <div class="dropdown">
                <button class="btn btn--medium btn--transparent btn--icon dropdown-toggle" type="button" id="newProjectButton" data-bs-toggle="dropdown" aria-expanded="false">
                    {% translate "Create project" %}
                </button>
                <ul class="dropdown-menu" aria-labelledby="newProjectButton">
                    <li><a class="dropdown-item" href="{% url 'project_create' %}">{% translate "Empty project" %}</a></li>
                    <li><a class="dropdown-item" onclick="javascript:showModal(event, modalId='uploadProjectModal', attrs={'action': `{% url 'project_upload' %}`, 'enctype': 'multipart/form-data' })">{% translate "From file" %}</a></li>
                    <li><a class="dropdown-item" onclick="javascript:showModal(event, modalId='useCaseModal', attrs={'action': `{% url 'project_from_usecase' %}`, 'enctype': 'multipart/form-data' })">{% translate "From use case" %}</a></li>
                </ul>
            </div>
        </section>


        {% for project in project_list %}

            <section class="project" id="project-{{ project.id }}">
                <div>
                    <div class="project__top">
                        <a  href="{% url 'project_update' project.id %}">
                            <h2 class= "name"> {{ project.name }} </h2>
                        </a>
                        <a href="{% url 'not_implemented' %}?url={{ request.get_full_path }}" class="location">
                            <span class="icon-pin" aria-hidden="true"></span>
                            {{ project.country }}
                        </a>
                    </div>
                    <div class="project__details">
                        <div class="details">
                            <div class="detail">
                                <span class="detail__property">{% translate "Created" %}</span>
                                <span class="detail__value">{{ project.date_created }}</span>
                            </div>
                            <!--<div class="detail">
                                <span class="detail__property">Interest rate</span>
                                <span class="detail__value">{{ project.economic_data.currency }}</span>
                            </div>-->
                            <div class="detail">
                                <span class="detail__property">{% translate "Lifetime" %}</span>
                                <span class="detail__value">{{ project.economic_data.duration }} {% translate "years" %}</span>
                            </div>
                        </div>
                        <div class="actions">
                            <a class="btn btn--action btn--hollow action" href="{% url 'project_visualize_results' proj_id=project.id %}">
                                <span class="icon icon-results" aria-hidden="true"></span>
                                {% translate "Results" %}
                            </a>
                            <a class="btn btn--action action" href="{% url 'project_update' project.pk %}">
                                <span class="icon icon-edit" aria-hidden="true"></span>
                                {% translate "Edit" %}
                            </a>
                            <form action="{% url 'project_duplicate' project.id %}"
                                  method="POST">
                                {% csrf_token %}
                                <!-- TODO change the ugly inline style-->
                                <button style="margin-top:0.25rem;" class="btn btn--action action" type="submit" value="Duplicate">
                                    <span class="icon icon-duplicate" aria-hidden="true"></span>
                                    {% translate "Duplicate" %}
                                </button>
                            </form>
                            <form action="{% url 'project_delete' project.id %}"
                                  method="POST">
                                {% csrf_token %}
                                <!-- TODO change the ugly inline style-->
                                <button style="margin-top:0.25rem;" class="btn btn--action action" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete?' + '\n' +'This will also delete all related project data.')">
                                    <span class="icon icon-delete" aria-hidden="true"></span>
                                    {% translate "Delete" %}
                                </button>
                            </form>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle btn--transparent" type="button" id="shareProject-{{ project.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                                  <span class="icon icon-more"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="shareProject-{{ project.id }}">
                                  <li><a class="dropdown-item" onclick="javascript:showModal(event, modalId='shareProjectModal', attrs={'action': `{% url 'project_share' project.id %}`})">{% translate "Share project" %}</a></li>
                                  <li><a class="dropdown-item" onclick="javascript:showRevokeProjectModal(event, `{{ project.id }}`)">{% translate "Unshare project" %}</a></li>
                                  <li><a class="dropdown-item" href="{% url 'project_export' project.id %}">{% translate "Export project" %}</a></li>
                                </ul>
                            </div>


                        </div>
                    </div>

                    <!--
                    return render(request, 'scenario/scenario_search.html',
                    {'comment_list': project.comment_set.all(),
                    'scenarios_list': project.scenario_set.all(),
                    'project': project,
                    'show_comments':show_comments
                    })-->


                    <div class="project__scenarios">
                        <div class="toggle" class="js-toggle-scenario">
                            <button class="btn btn--action" type="button" data-bs-toggle="collapse" data-bs-target="#collapseScenarios{{ project.id }}" aria-expanded="false" aria-controls="collapseScenarios{{ project.id }}">
                                <span class="icon-i_arrow_down icon icon--small js-toggle-scenario-icon" aria-hidden="true"></span>
                                <span class="js-toggle-scenario-name">{% translate "Show scenarios" %}</span>
                            </button>
                        </div>
                        <div class="collapse" id="collapseScenarios{{ project.id }}">

                                <div class="card card-body">
                                    <ul class="list-group">

                                        {% for scenario in project|scenario_list %}
                                        <form>
                                            {% csrf_token %}
                                        <li class="list-group-item">
                                            <div class="details">
                                                <input class="form-check-input project-{{ project.id }}" id="project{{ project.id }}scenario-{{ scenario.id }}" type="checkbox" value="{{ scenario.id }}" aria-label="">
                                                <label class="form-check-label" for="project{{ project.id }}scenario-{{ scenario.id }}">
                                                    <a class= "form-check-label" href="{% url 'scenario_steps_edit' proj_id=project.id scen_id=scenario.id step_id=1 %}"> {{ scenario }} </a>
                                                </label>
                                                <!--<div class="detail">
                                                    <span class="detail__property">{% translate "Created" %}</span>
                                                    <span class="detail__value">{{ project.date_created }}</span>
                                                </div>-->
                                            </div>
                                            <div class="actions">
                                                {% if scenario.simulation %}
                                                    {% if scenario.simulation.status == "PENDING"%}
                                                        <a class="btn btn--action btn--pending" href="{% url 'scenario_review' scenario.project.id scenario.id %}">
                                                            {% translate "Pending..." %}
                                                        </a>
                                                    {% elif scenario.simulation.status == "ERROR"%}
                                                        <a class="btn btn--action btn--error" href="{% url 'scenario_review' scenario.project.id scenario.id %}">
                                                            {% translate "Error" %}
                                                        </a>
                                                    {% elif scenario.simulation.status == "DONE"%}
                                                        <a class="btn btn--action results" href="{% url 'scenario_visualize_results' scenario.id %}">
                                                            <span class="icon icon-results" aria-hidden="true"></span>
                                                            {% translate "Results" %}
                                                        </a>
                                                    {% else %}
                                                        <a class="btn btn--action btn--disabled" href="{% url 'scenario_steps_edit' proj_id=project.id scen_id=scenario.id step_id=1 %}">
                                                            {% translate "No simulation" %}
                                                        </a>
                                                    {% endif %}
                                                {% else %}
                                                    <a class="btn btn--action btn--disabled" href="{% url 'scenario_steps_edit' proj_id=project.id scen_id=scenario.id step_id=1 %}">
                                                        {% translate "No simulation" %}
                                                    </a>
                                                {% endif %}

                                                <a class="btn btn--action action" href="{% url 'scenario_steps_edit' proj_id=project.id scen_id=scenario.id step_id=1 %}"> <!-- "scenario-creation-1.html" in B design -->
                                                    <span class="icon icon-edit" aria-hidden="true"></span>
                                                </a>
                                                <a class="btn btn--action action" href="{% url 'scenario_duplicate' scenario.id %}">
                                                    <span class="icon icon-duplicate" aria-hidden="true"></span>
                                                </a>
                                                <button class="btn btn--action action" type="submit" formaction="{% url 'scenario_delete' scenario.id %}" formmethod="post">
                                                    <span class="icon icon-delete" aria-hidden="true"></span>
                                                </button>

                                            </div>
                                        </li>
                                        </form>
                                        {% empty %}
                                            {% translate "There are no scenarios" %}
                                        {% endfor %}


                                    </ul>
                                </div>
                                <form id="exportScenarios-project-{{ project.id }}" action = "{% url 'scenario_export' project.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="scenario_ids">
                                </form>
                                <button class="btn btn--action action export" type="button" onclick="javascript:export_btn_clicked({{ project.id }})">
                                    <span class="icon icon-export" aria-hidden="true"></span>
                                    {% translate "Export selected" %}
                                </button>

                        </div>
                        <div class="add-scenario">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="dropdownCreateScenario{{ project.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="icon icon-add" aria-hidden="true"></span>
                                    {% translate "Create scenario" %}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownCreateScenario{{ project.id }}">

                                    {% if project.user == request.user %}
                                        <li><a class="dropdown-item" href="{% url 'scenario_steps' project.id %}">{% translate "New scenario" %}</a></li>
                                        <li><a class="dropdown-item" onclick="javascript:showModal(event, modalId='uploadScenarioModal', attrs={'action': `{% url 'scenario_upload' project.id %}`, 'enctype': 'multipart/form-data' })">{% translate "From file" %}</a></li>
                                    {% endif %}
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </section>




        {% empty %}
            <section class="projects-empty">
                <div>
                    <div class="projects-empty__img">
                        <img src="{% static '/assets/illustrations/empty_folder.svg' %}" alt="Empty folder">
                    </div>
                    <div class="projects-empty__text">
                        {% translate "There are no projects yet" %}
                    </div>
                </div>
            </section>

        {% endfor %}



    </main>

{% endblock content %}


{% block end_body_scripts %}

{{ translated_text|json_script:"translatedText" }}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
// toggle HIDE/SHOW SCENARIOS text (the variables showScenarioText and hideScenarioText are defined in base.html for translation purposes
const projectWrap = document.querySelector('main');
projectWrap.addEventListener('click', function() {
  const collapsedScenariosBoxesExpanded = document.querySelectorAll('.btn.btn--action[aria-expanded="true"] .js-toggle-scenario-name');
  const collapsedScenariosBoxes = document.querySelectorAll('.btn.btn--action[aria-expanded="false"] .js-toggle-scenario-name');

// get the dict translated_text passed via the view project_search()
var translatedText = JSON.parse(document.getElementById('translatedText').textContent);

  collapsedScenariosBoxesExpanded.forEach(function(item) {
    item.innerHTML = translatedText["hideScenarioText"];
  });

  collapsedScenariosBoxes.forEach(function(item) {
    item.innerHTML = translatedText["showScenarioText"];
  });
})


</script>
<script>
    $(document).ready(function(){
        var projScenariosTab = "collapseScenarios" + `{{ proj_id }}`;
        $("button[data-bs-target='#" + projScenariosTab + "']").click();
        var yOffset = -100;
        var y = 0
        if(`{{ scen_id }}` == "None"){
            y = document.getElementById('project-' + `{{ proj_id }}`).getBoundingClientRect().top + window.pageYOffset;
            yOffset = 0;
        }
        else{
            const elId = 'project' + `{{ proj_id }}` + 'scenario-' + `{{ scen_id }}`;
            y = document.getElementById(elId).getBoundingClientRect().top + window.pageYOffset;
            yOffset = 0;
        }
        console.log(y+yOffset);
        window.scrollTo(0, y + yOffset);
    });

    const satellite = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: '<a href="http://www.intracom-telecom.com/">Intracom Telecom S.A.</a>',
        maxZoom: 8,
        minZoom: 2,
        id: 'mapbox/satellite-streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoidmFsa2FsYWlzIiwiYSI6ImNrZGhpZ29peTFnMjIycG5ybWR3aG4yeHIifQ.L4y4PQjkIdO1c7pvzOr2kw',
    });

    const streets = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: '<a href="http://www.intracom-telecom.com/">Intracom Telecom S.A.</a>',
        maxZoom: 12,
        minZoom: 2,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoidmFsa2FsYWlzIiwiYSI6ImNrZGhpZ29peTFnMjIycG5ybWR3aG4yeHIifQ.L4y4PQjkIdO1c7pvzOr2kw',
    });

    const baseMaps = {
        "<span style='font-family:Century Gothic; font-size:12px;'>Sattelite View</span>": satellite,
        "<span style='font-family:Century Gothic; font-size:12px;'>Street View</span>": streets
    };

    gridMap = L.map('project_map', {layers: [streets, satellite], scrollWheelZoom: false}).setView([38, 23.5], 5);
    L.control.layers(baseMaps).addTo(gridMap);
    markerGroup = new L.featureGroup().addTo(gridMap);

    var markerList = [];
    {% for project in project_list %}
        var marker = L.marker([{{project.latitude}}, {{project.longitude}}]).addTo(gridMap);
        marker.bindPopup("<b>Name: {{project.name}}</b><br>Country: {{project.country}}<br>Latitude: {{project.latitude}}<br>Longitude: {{project.longitude}}").openPopup();
        markerList.push(marker);
    {% endfor %}

    var group = new L.featureGroup(markerList);
    gridMap.panInsideBounds(group.getBounds().pad(0.5));

    gridMap.on('click', function () {
        if (gridMap.scrollWheelZoom.enabled()) {
            gridMap.scrollWheelZoom.disable();
        } else {
            gridMap.scrollWheelZoom.enable();
        }
    });
</script>

<script src="{% static 'js/modal_utils.js' %}"></script>

<script>

   function showRevokeProjectModal(event, projId){
        const modalId = "revokeProjectModal";
        showModal(
            event,
            modalId,
            {'action': `{% url 'project_revoke_access' %}` + "/" + projId}
        )
        // Update the form based on how the number of viewers of this project
        var revokeProjectModalForm = document.getElementById(modalId).querySelector("form");

        $.ajax({
            headers: {'X-CSRFToken': `{{ csrf_token }}` },
            type: "POST",
            url: `{% url 'ajax_project_viewers_form' %}`,
            data: {
              'proj_id': projId
            },
            success: function (data) {
            console.log(`<button style="display:none;" type="submit" id="${modalId}SubmitBtn"></button>`);
              $("#" + modalId).find('.modal-body form').html(data + `<button style="display:none;" type="submit" id="${modalId}SubmitBtn"></button>`);
            }
        });
   }
</script>

<script>
    (function () {
        var dropdownMenu;
        // show it and move it to the body
        $(window).on('show.bs.dropdown', function (e) {
            // grab the menu
            dropdownMenu = $(e.target).find('.dropdown-menu');
            // detach it and append it to the body
            $('body').append(dropdownMenu.detach());
            // grab the new offset position
            var eOffset = $(e.target).offset();
            // make sure to place it where it would normally go (this could be improved)
            dropdownMenu.css({
                'display': 'block',
                'top': eOffset.top + $(e.target).outerHeight(),
                'left': eOffset.left
            });
        });

        // and when you hide it, reattach the drop down, and hide it normally
        $(window).on('hide.bs.dropdown', function (e) {
            $(e.target).append(dropdownMenu.detach());
            dropdownMenu.hide();
        });
    })();
</script>

<script>


    function export_btn_clicked(project_id){
        // collect the ids of the scenarios checked by the user under one project
        var scenario_ids=[];
        var cb = $('.form-check-input.project-'+project_id);
        const cb_checked = cb.map((i, obj) => {
            if(obj.checked === true){
                scenario_ids.push(obj.value)
            }
        });
        // assign scenario_ids to the input field within the export form and submit the form
        var exportForm = document.getElementById("exportScenarios-project-"+project_id);
        exportForm.querySelector("input[name='scenario_ids']").value = JSON.stringify(scenario_ids);
        exportForm.submit()
    };

</script>
{% endblock end_body_scripts %}
