
{% load i18n %}
{% load crispy_forms_tags %}
{% load custom_filters %}

  <div class="form-group{% if field.errors %} invalid{% endif %}" {% if display_results %} style="display:none" {% endif %}>
    {{ form.name|as_crispy_field }}
  </div>

<div class="container">
    {% if display_results %}
      <div class="row">
          <h3>Results</h3>
              {% if optimized_add_cap %}
              <div class="form-group{% if field.errors %} invalid{% endif %}">
                <label for="id_optimized_add_cap">
                {% translate "Optimized additional capacity" %} ({{ optimized_add_cap|get_item:'unit' }})
                </label>
                <input readonly type="number" name="optimized_add_cap" value="{{ optimized_add_cap|get_item:'value' }}" min="0.0"  data-bs-toggle="tooltip" title="" style="font-weight:400; font-size:13px;" class="view-only numberinput form-control form-control" required="" id="id_optimized_add_cap" data-bs-original-title="TBD" aria-label="TDB">
              </div>
              {% endif %}
              {% if flow %}
                <div id="flow_trace"></div>
                <div>
                  <a data-bs-toggle="collapse" href="#flow_data">{% translate "See traces data" %}</a>
                </div>
                <div id="flow_data" class="collapse">
                  <textarea>{{ flow }}</textarea>
                </div>
              {% endif %}
      </div>
    {% endif %}
    <div class="row align-items-start">
      {% if form|has_economical_parameters %}
        <div class="col">
          <h3>Economical parameters</h3>
          {% for field in form %}
            {% if field.name|is_economical_parameter %}
              <div class="form-group{% if field.errors %} invalid{% endif %}">
                {{ field|as_crispy_field }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      {% if form|has_technical_parameters %}
        <div class="col">
          <h3>Technical parameters</h3>
          {% for field in form %}
            {% if field.name|is_technical_parameter %}
              {% if field.name != "input_timeseries" %}
                <div class="form-group{% if field.errors %} invalid{% endif %}">
                  {{ field|as_crispy_field }}
									{% if asset_type_name == "heat_pump" and field.name == "efficiency" %}
										<input type="hidden" name="copId" id="id_copId">
										<a onclick="javascript:toggle_cop_modal(event)" class="btn btn--medium" href="#form-computeCOP" data-bs-toggle="collapse" aria-expanded="false" aria-controls="form-computeCOP" >{% translate "Calculate COP from temperature" %}</a>
									{% endif %}
                </div>

              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="row">
      {% if form|has_field:"input_timeseries" %}
        <div class="form-group{% if field.errors %} invalid{% endif %}">
              {{ form|get_field:"input_timeseries"|as_crispy_field }}
        </div>

        <div id="timeseries_trace"></div>

        {% if input_timeseries_timestamps %}
          <div id="input_timeseries_timestamps" style="display:none;">
            <textarea>{{ input_timeseries_timestamps }}</textarea>
          </div>
        {% endif %}

        {% if input_timeseries_data %}
          <div>
            <a data-bs-toggle="collapse" href="#input_timeseries_data">{% translate "uploaded data" %}</a>
          </div>
          <div id="input_timeseries_data" class="collapse">
            <textarea>{{ input_timeseries_data }}</textarea>
          </div>
        {% endif %}

      {% endif %}
    </div>

</div>
