{% load i18n %}
{% load crispy_forms_tags %}
{% load custom_filters%}

<form method="post" action="">
  {% csrf_token %}
  
  <div class="form-group{% if field.errors %} invalid{% endif %}">
    {{ form.name|as_crispy_field }}
    {% for error in form.name.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
  </div>

  <div class="container">
  <div class="row align-items-start">
    <div class="col">
      <h3>Economical parameters</h3>
      {% for field in form %}
      {% if field.name|is_economical_parameter %}
      <div class="form-group{% if field.errors %} invalid{% endif %}">
        {{ field|as_crispy_field }}
        {% for error in field.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    {% endfor %}
    </div>
    <div class="col">
      <h3>Technical parameters</h3>
        {% for field in form %}
      {% if field.name|is_technical_parameter %}
      <div class="form-group{% if field.errors %} invalid{% endif %}">
        {{ field|as_crispy_field }}
        {% for error in field.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    {% endfor %}
    </div>
    </div>
  </div>




</form>
