{% extends 'scenario/scenario_progression.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load i18n %}


{% block head_block %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.css">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!--<script src="{% static 'js/plotly.min.js' %}"></script>-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/quick_fix.css' %}"/>
{% endblock head_block %}


{% block start_body_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.21/jquery.csv.min.js" integrity="sha512-Y8iWYJDo6HiTo5xtml1g4QqHtl/PO1w+dmUpQfQSOTqKNsMhExfyPN2ncNAe9JuJUSKzwK/b6oaNPop4MXzkwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.1.1/d3.min.js" integrity="sha512-COTaPOlz12cG4fSfcBsxZsjauBAyldqp+8FQUM/dZHm+ts/jR4AFoJhCqxy8K10Jrf3pojfsbq7fAPTb1XaVkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="{% static 'js/traceplot.js' %}"></script>

<!--
<link rel="stylesheet" type="text/css" href="{% static 'css/beautiful1.css' %}"/>


<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
-->
{% endblock start_body_scripts %}


<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block progression_content %}


<!-- Modal -->

<div class="modal fade modal--gui" id="guiModal" tabindex="-1" role="dialog" aria-labelledby="guiModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="guiModalLabel">New message</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
					<div class="container">
						<div class="row align-item-start">
							<div class="col">
								<form id="assetForm">
									{% csrf_token %}
									<div class="modal-body">
									</div>
					 			</form>
							</div>
							<div class="col collapse modal-body" id="form-computeCOP">
								<button id="btn-computeCOP" class="btn btn--medium" onclick="computeCOP(event)">{% translate "compute COP" %}</button>

							 <form id="copForm">
								{% csrf_token %}
								<div class="modal-addendum">
								</div>
							 </form>
							</div>

						</div>

					</div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Close" %}</button>
                {% if scenario.project.user == request.user %}
                <button class="btn btn--medium" onclick="submitForm(event)">{% translate "Save" %}</button>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<main>
    <section class="system-design">
        <div class="components">
            <div class="components__title">
                <div>
                    <h2>{% translate "Energy components" %}</h2>
                    <span class="icon icon-question" data-bs-toggle="tooltip" title="Lorem ipsum"></span>
                </div>
            </div>





            <div class="components__content">

                {% for group_name, group_components in components.items %}
                    <div class="section section--{{ group_name }}">
                        <div class="section__title">
                            <h3>{{ group_names|get_item:group_name|title }}</h3>
                        </div>
                        {% for component_id, component_name in group_components.items %}
                            {% include 'scenario/topology_drag_items.html' with name=component_name alt=component_name|add:" icon" image=component_id|add:".svg" data_node=component_id %}
                        {% endfor %}
                    </div>
                {% endfor %}


            </div>
        </div>
        <div id="drawflow" class="gui" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="gui__clear">
                <div id="area-selection-div" hidden style="border: 1px dotted #000; position: absolute;"></div>
                <div class="load-scenario">
                    <select class="form-select">
                        <option selected>{% translate "Load system design from existing scenario" %}</option>
                        <option value="1">PV Potsdam 2025</option>
                        <option value="2">open_plan test</option>
                    </select>
                </div>
                <a class="btn btn--small btn--hollow" onclick="clearGridModel()">{% translate "Clear design" %}</a>
            </div>
            <!--<div class="gui__empty-text">
                <span>{% translate "Drag and drop components to build your energy system" %}</span>
            </div>-->
        </div>

    </section>
</main>

{% endblock progression_content %}


{% block end_body_scripts %}

<script src="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.1.0/jquery.serializejson.min.js"
        integrity="sha512-4y8bsEzrXJqRyl2dqjdKk/DetH59JcFTtYNMsy5DUpvVV8CXiSrQ1gSCL3+dFgj1Xco0ONPizsYd6wX2eAXL2g=="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
        const csrfToken = '{{ csrf_token }}';
        const formGetUrl = `{% url 'get_asset_create_form' scenario.id %}`;
        const formPostUrl = `{% url 'asset_create_or_update' scenario.id %}`;
        const scenarioBelongsToUser = {% if scenario.project.user == request.user %}true{% else %}false{% endif %};
        const copGetUrl = `{% url 'get_asset_cops_form' scenario.id %}`;
        const copPostUrl = `{% url 'asset_cops_create_or_update' scenario.id %}`;
    </script>
<script src="{% static 'js/grid_model_topology.js' %}"></script>

<script>





        // activate the double click function provided in grid_model_topology
        document.querySelector('.drawflow').addEventListener("dblclick", dblClick);

        /* First retrieve the busses and assets, then draw the links */

        $(window).on('load', async function () {
            const data = JSON.parse(`{{topology_data_list| escapejs }}`);
            Promise.all([addBusses(data['busses']), addAssets(data['assets'])])
                .then(async () => addLinks(data['links']))
                .catch(err=>Swal.fire('Grid Model Error', 'Could not retrieve grid nodes.', 'error'));
        });
</script>

<script defer>
$(document).ready(function () {
    disabled_assets = [];//["gas_dso", "h2_dso", "biogas_plant", "geothermal_conversion", "diesel_generator", "fuel_cell", "gas_boiler", "electrolyzer", "hess"];
    disabled_assets.forEach(asset_name => {document.querySelector(`[data-node='${asset_name}']`).classList.add("greyed_out"); document.querySelector(`[data-node='${asset_name}']`).setAttribute("title", "This is disabled")});
})
        function clearGridModel() {
            Swal.fire({
                title: "Are you sure?",
                text: "This will clear the whole grid model! This will not actually delete any asset from the scenario. You will need to save after clearing for the changes to actually take effect.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, clear everything!",
                cancelButtonText: "Cancel",
            }).then((result) => result.value && editor.clearModuleSelected());
        }

        /*
         * Export Topology to JSON and send to back-end.
         * Used by the Save and Next buttons at page footer
        */
        function save_topology(move_step=false) {
            // Data Pre-check
            /*
            /* Check if there are duplicate node names in the model
            /* and prevent user from saving the model if there are.
            */
            let editorData = editor.export().drawflow.Home.data;
            const node_list = Object.values(editorData)
            const node_names = node_list.map(obj => obj.data.name);
            const duplicate_names = node_names.filter((name, i, a) => a.indexOf(name) !== i);

            if (duplicate_names.length != 0)
                return Swal.fire('Grid Model Error',
                    `There are nodes with duplicate names. \n Rename nodes with names: ${duplicate_names.toString()}`, 'error');
            // End Data Pre-check
            else {
                const transformIOs = (obj, entry) => {
                    const [key, io] = entry;
                    obj[key] = io.connections.map(conn =>
                        ("output" in conn) ?
                        ({ node: nodesToDB.get('node-' + conn.node).uid, output: conn.output }) :
                        ({ node: nodesToDB.get('node-' + conn.node).uid, input: conn.input }));
                    return obj;
                }
                const drawflowData = Object.values(editorData)
                    .map(obj=>({
                        db_id: nodesToDB.get('node-'+obj.id).uid,
                        name: obj.name,
                        inputs: Object.entries(obj.inputs).reduce(transformIOs, {}),
                        outputs: Object.entries(obj.outputs).reduce(transformIOs, {}),
                        data: obj.data,
                        pos_x: obj.pos_x,
                        pos_y: obj.pos_y,
                    }));

                 $.ajax({
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    type: "POST",
                    url: "{% url 'scenario_create_topology' proj_id scenario.id %}",
                    data: JSON.stringify(drawflowData),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                     success: function (resp) {
                        // var node = resp.data;
                        // $.each(node, function (key, val) {
                        //     // add database id to the node data dictionary, in order to discriminate among existing and new nodes.
                        //     editor.drawflow.drawflow.Home.data[`${key}`].data['databaseId'] = val;
                        // });
                        // TODO change this to perfom these action within views.py
                        if(move_step == true){
                            window.location.href = "{% url 'scenario_create_constraints' proj_id scen_id %}";
                        }
                    },

                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        const jsonData = XMLHttpRequest.responseJSON;
                        if (jsonData.specific_obj_type) {
                            Swal.fire('Grid Model Error', `Please fill in all ${jsonData.specific_obj_type.bold()} fields. \n
                       Asset ${jsonData.obj_name.bold()} has empty fields or fields with wrong values.`, 'error');
                       console.log(jsonData.full_error);
                       //console.log(Object.keys(JSON.parse(a.full_error.replaceAll('\'','"'))));
                        } else {
                            Swal.fire('Grid Model Error', `Asset ${jsonData.obj_name.bold()} has empty fields or fields with wrong values.`, 'error');
                        }
                    }
                });
            }
        };
    </script>


{% endblock end_body_scripts %}


{% block footer %}
<footer class="step-footer">
  <div>
    <div class="step-footer__left"></div>
    <div class="step-footer__center">
        <a class="btn btn--medium btn--hollow btn--previous" href="{% url 'scenario_steps_edit' proj_id scen_id step_id|add:'-1' %}" aria-disabled="true">{% translate "Previous" %}</a>
        {% if scenario.project.user == request.user %}
        <button class="btn btn--medium btn--transparent" onclick="javascript:save_topology()">{% translate "Save" %}</button>
        {% endif %}
        <a onclick="javascript:save_topology(move_step=true)" id="next_btn" class="btn btn--medium" >{% translate "Next" %} </a>
    </div>
    <div class="step-footer__right">

        {% if scen_id %}
        <a class="btn btn--medium btn--transparent" href="{% url 'scenario_steps_edit' proj_id scen_id 4 %}">{% translate "Go to simulation" %}</a>
        {% endif %}
    </div>
  </div>
</footer>
{% endblock footer %}




