{% extends 'scenario/scenario_progression.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load i18n %}

{% block extended_header %}
<div class="extended_header">
    <div class="header__left">
        <a class="btn btn--medium btn--hollow" href="/static/working/{{ workdir }}/logs/config.log" download id="config.log">{% translate "Download logfiles" %}</a>
    </div>
    <h1 class="header__title">{% translate "Simulation results for" %} {{ workdir }}</h1>
    <div class="header__right">
        <a class="btn btn--medium btn--hollow" href="/static/working/{{ workdir }}/dumps/config.dump" download id="config.dump">{% translate "Download dumpfile" %}</a>
        <a class="btn btn--medium btn--hollow" href="/static/working/{{ workdir }}/dumps/config.lp" download id="config.lp">{% translate "Download lp-file" %}</a>
    </div>
</div>
{% endblock extended_header %}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block progression_content %}
<main>
    <!-- insert download buttons here -->
    <div class="dashboard">
        {% load plotly_dash %}
        {% plotly_app name='SimpleExample' %}
    </div>
</main>
{% endblock progression_content %}


{% block end_body_scripts %}
    <script>
        let dump = document.getElementById("config.dump")
        let log = document.getElementById("config.log")
        let lp = document.getElementById("config.lp")

        $.ajax({
            url: dump.href,
            type: 'HEAD',
            success: function () {
                dump.hidden = false;
            },
            error: function () {
                dump.hidden = true;
            },
            })

            $.ajax({
            url: log.href,
            type: 'HEAD',
            success: function () {
                log.hidden = false;
            },
            error: function () {
                log.hidden = true;
            },
            })

            $.ajax({
            url: lp.href,
            type: 'HEAD',
            success: function () {
                lp.hidden = false;
            },
            error: function () {
                lp.hidden = true;
            },
        })
    </script>
{% endblock end_body_scripts %}

{% block footer %}
    <footer class="step-footer">
        <div>
            <div class="step-footer__left"></div>
            <div class="step-footer__center">
                <a class="btn btn--medium" href="{% url 'scenario_steps_edit' proj_id scen_id 4 %}" aria-disabled="true">{% translate "Previous" %}</a>    
            </div>
            <div class="step-footer__right"></div>
        </div>
    </footer>
{% endblock footer %}