{% extends 'scenario/scenario_progression.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load i18n %}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block progression_content %}



{% endblock progression_content %}


{% block end_body_scripts %}
<script>
  function next_btn_clicked() {
      form_id.click();
  };

</script>
<script src="{% static 'js/form_utils.js' %}"></script>
{% endblock end_body_scripts %}

{% block footer %}
<footer class="simulation-footer">

</footer>
{% endblock footer %}