.row.dashboard__create{
    margin-bottom: 1.5rem;
}

.result-selector{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 3rem;
}

#single-scenario-link.active{
background-color: #F4F7F9 ;
}