.row.dashboard__create{
    margin-bottom: 1.5rem;
}

.result-selector{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 3rem;
}

.result-selector h2{
 font-size: 1.563rem !important;
}

#single-scenario-link.active{
background-color: #F4F7F9 ;
}

#compare-scenario-link.active{
background-color: #F4F7F9 ;
}


#sensitivity-analysis-link.active{
background-color: #F4F7F9 ;
}

.dashboard__scenarios {
    flex-direction: column !important;
    align-items: flex-start !important;
}

.greyed_out{
pointer-events: none;
opacity: 0.6;
}

.info__icon{
height: 1.2rem;
margin-left: .5rem;
}