@import '../abstracts/variables';
@import '../abstracts/mixins';

.dashboard-tabs {
  @include flex-row-justify-center;

  &> div {
    @include section-width;
  }

  .nav-tabs {
    border-bottom: 0;

    .nav-link {
      margin-bottom: -2px;
    }

    .nav-link.active {
      background-color: $primary-gray-color-2;
      border: 0;
      font-weight: 700 !important;
    }

    .nav-link:hover {
      border-color: transparent;
    }
  }
}

.dashboard-options {
  @include flex-row-justify-center;
  background-color: $primary-gray-color-2;

  &> div {
    @include section-width;
  }

  &.sticky-top {
    top: 3.5rem;
  }
}

.dashboard {
  @include flex-row-justify-center;
  background-color: $primary-gray-color-1;
  min-height: calc(100vh - #{$main-padding-top} - #{$header-dashboard-height} - #{$header-dashboard-margin-bottom} - #{$footer-height});
  padding: 3rem 0 4rem;

  &> div {
    @include section-width;
  }

  &__scenarios {
    @include flex-row;
    align-items: flex-end;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .dashboard__select-scenarios {
      width: 50rem;

      &--small {
        width: 32rem !important;
      }
    }

    .dashboard__btn-scenarios {
      @include flex-column;
      justify-content: flex-end;
      height: 100%;
      padding-left: 1rem;
    }

    .form-label {
      display: none;
    }

    .dashboard__add {
      flex: 1;
      @include flex-row;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
    }
  }

  .scenario-select {
    @include flex-row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 3rem;

    &__item {
      background-color: $primary-gray-color-2;
      border-radius:3px;
      color: $primary-gray-color-4;
      padding: 0.25rem 0.5rem;
      margin-top: .75rem;
      margin-right: .75rem;
      cursor: pointer;
      font-size: $font-size-small;

      &.selected {
        border: 1px solid $primary-color-1;
        background-color: $white;
        color: $primary-color-1;
        transform: translateY(-3px);
        box-shadow: 0px 4px 8px rgba(31, 86, 125, 0.16);
      }
    }
  }

  .chart {
    background-color: $white;
    border-radius: $button-border-radius;
    box-shadow: $box-shadow-frame;
    margin-bottom: $dashboard-space-between-charts;

    &__header {
      @include flex-row-space-between;
      border-bottom: $gray-border;
      padding: .75rem 1rem .5rem;

      .view {
        padding-left: $space-between-project-elements;
        font-weight: 700;
        color: $primary-color-1;
        text-decoration: none;
        cursor: pointer;

        .icon {
          font-size: .75rem;
        }
      }
    }

    &__plot {
      .table-add {
        display: inline-block;
        padding: $dashboard-table-cell-padding;
        color: $primary-color-1;

        &__text {
          padding-left: 0.25rem;
        }
      }
    }

    .dropdown {
      .dropdown-toggle {
        padding: 0 .35rem;

        &::after {
          display: none;
        }

        .icon {
          padding: 0;
        }
      }
    }

    &--small {
      height: calc((#{$dashboard-chart-height} / 3) - ((2 * #{$dashboard-space-between-charts}) / 3));

      &:not(:last-of-type) {
        margin-bottom: $dashboard-space-between-charts;
      }

      .chart__content {
        @include flex-row;
        height: calc((#{$dashboard-chart-height} / 3) - ((2 * #{$dashboard-space-between-charts}) / 3) - 3.25rem);
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    .item {
      flex: 1;

      &__name {
        font-size: $font-size-small;
        color: $primary-gray-color-4;
        padding-bottom: .25rem;
      }

      &__value {
        font-size: $font-size-medium;
      }

      &--best .item__value {
        font-weight: 700;
        color: $dashboard-profitable-value;
      }

      &--worst .item__value {
        color: $dashboard-inadequate-value;
      }
    }
  }
}