{% extends 'base.html' %}
{% load i18n %}

{% block content %}

	{% load crispy_forms_tags %}

	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">{% trans "Reset Password" %}</h2>
		<hr>
		<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">{%  trans "Send email" %}</button>
        </form>
  	</div>

{% endblock %}
