addict==2.4.0
psycopg
annotated-types==0.7.0
asgiref==3.8.1
attrs==23.2.0
blinker==1.8.2
branca==0.7.2
certifi==2024.2.2
channels==4.1.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
CoolProp==6.6.0
crispy-bootstrap4==2024.1
cycler==0.12.1
cydets==1.1
dash==2.9.3
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
demandlib==0.1.9
dhnx==0.0.3
dill==0.3.8
Django==5.0.6
django-bootstrap-datepicker-plus==5.0.5
django-crispy-forms==2.1
django-plotly-dash==2.3.1
dpd_components==0.1.0
feedinlib==0.0.12
Flask==3.0.3
folium==0.16.0
fonttools==4.52.4
h5py==3.11.0
idna==3.7
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
Jinja2==3.1.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
keyring==25.2.1
keyrings.alt==5.0.1
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.0
more-itertools==10.2.0
networkx==3.3
numpy==1.26.4
oemof==1.0
oemof.db==0.0.6
oemof.network==0.5.0
oemof.solph==0.5.2
oemof.thermal==0.0.6
oemof.tools==0.4.3
oemof_visio @ git+https://github.com/oemof/oemof_visio.git@8830fd34db3b4c0695f63d617e9346294e8b1c47
packaging==24.0
pandas==2.2.2
pillow==10.3.0
plotly==5.22.0
ply==3.11
pvlib==0.10.5
pydantic==2.7.2
pydantic_core==2.18.3
Pyomo==6.7.3
pyparsing==3.1.2
pyrsistent==0.20.0
python-dateutil==2.9.0.post0
pytz==2024.1
referencing==0.35.1
requests==2.32.3
rpds-py==0.18.1
scipy==1.13.1
setuptools==70.0.0
shapely==2.0.4
six==1.16.0
SQLAlchemy==2.0.30
sqlparse==0.5.0
tabulate==0.8.10
tenacity==8.3.0
tespy==0.7.4
typing_extensions==4.12.0
tzdata==2024.1
urllib3==2.2.1
Werkzeug==3.0.3
wheel==0.43.0
windpowerlib==0.0.4
xyzservices==2024.4.0
openpyxl
django-jsonview
jsonfield
httpx
exchangelib
gssapi
krb5
django_sass_processor
