{% extends 'base.html' %}
{% load i18n %}


{% block title %} {% translate "About - open_plan" %} {% endblock title%}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block content %}
<main>
    <section class="header">
        <div>
            <div class="header__left"></div>
            <h1 class="header__title">About</h1>
            <div class="header__back"></div>
        </div>
    </section>
    <section class="standard-layout">
        <div>
            <div class="row">
                <div class="col">
                    <h2>open_plan project consortium</h2>
                    <p>The open_plan project consortium is composed of the <a href="https://reiner-lemoine-institut.de/" target="_blank" rel="noreferrer">Reiner Lemoine Institut</a> (RLI), <a href="https://www.dgs-berlin.de" target="_blank" rel="noreferrer">Deutsche Gesellschaft für Sonnenenergie</a> (DGS) and the <a href="https://www.pik-potsdam.de/de" target="_blank" rel="noreferrer">Potsdam Institut für Klimafolgenforschung</a> (PIK). It is funded within the framework of the "Technology-oriented systems analysis" funding area of the BMWi's 7th Energy Research Programme "Innovation for the energy transition".</p>
                    <h3>This webapp design</h3>
                    <p>Bryan Lancien from Reiner Lemoine Institut</p>
                    <h3>Simulation server</h3>
                    <p>
                        Our simulations run on a server hosted at RLI, the code to setup the simulation server is licenced under MIT License and publicly available on <a href="https://github.com/open-plan-tool/simulation-server" target="_blank" rel="noreferrer">our github page</a>.
                        The simulation are perfomed with <a href="https://github.com/rl-institut/multi-vector-simulator" target="_blank" rel="noreferrer">multi-vector-simulator</a>, a code using <a href="https://github.com/oemof/oemof-solph" target="_blank" rel="noreferrer">oemof-soplh</a> to simulate energy system model from techno-economic parameters.
                    </p>


                </div>
                <div class="col">
                    <h2>open_plan project website</h2>
                    <p> You can visit the open_plan <a href="https://open-plan-tool.org/" target="_blank" rel="noreferrer">website</a> to know more about the cellular approach and the open_plan project </p>
                    <h2>Feedback or question?</h2>
                    <p> You can always <a href="{% url 'user_feedback' %}">leave us a comment or feedback</a> on things you would improve. You can also visit <a href="https://github.com/orgs/open-plan-tool/projects/5" target="_blank" rel="noreferrer">our github project page</a> to see which bugs are being fixed and which new features are being developped.</p>
                    <h2>Github</h2>
                    <p> You can follow the development of this <a href="https://github.com/open-plan-tool/gui" target="_blank" rel="noreferrer">user interface</a>, or deploy your own open-plan tool (including <a href="https://github.com/open-plan-tool/simulation-server" target="_blank" rel="noreferrer">simulation server</a> and user interface) by visiting our <a href="https://github.com/open-plan-tool/gui" target="_blank" rel="noreferrer">github page</a></p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}

