{% extends 'scenario/scenario_progression.html' %}
{% load i18n %}

{% block progression_content %}

    <main class="simulation simulation--successful">
      <div>
        <div class="simulation__heading" aria-hidden="true">
        </div>
        <div class="simulation__content">
          <h2>{% translate "Simulation successful" %}</h2>
          <div class="simulation__id">
            <!-- <a href="/app/working/{{ mvs_token }}">{{ mvs_token }}</a> -->
            <h4><b>{{mvs_token}}</b></h4>
          </div>
          <div class="simulation__feedback">
            <div class="item item--successful">
              <p>{% translate "Your simulation is complete." %}</p>
            </div>
            <div class="item item--warning">
            </div>
          </div>
        </div>
      </div>
    </main>

{% endblock progression_content %}

{% block footer %}
    <footer class="simulation-footer">

      <div>
        <a class="btn btn--medium" href="{% url 'scenario_visualize_results' scen_id %}">{% translate "Check results dashboard" %}</a>
        <a class="btn btn--medium btn--hollow" href="/static/working/{{ mvs_token }}/dumps/config.lp" download>{% translate "Download LP files" %}</a>
        <a class="btn btn--medium btn--hollow" href="{% url 'simulation_cancel' scen_id %}" onclick="return confirm('Are you sure?')">{% translate "Reset simulation" %}</a>
        <a onclick="next_btn_clicked()" id="next_btn" class="btn btn--medium" >{% translate "Next" %} </a>
      </div>
    </footer>
{% endblock footer %}