{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block index %}
{% if not user.is_authenticated %}
<main>
  <section class="hero section" id="hero" data-aos="fade-up">
    <div>
      <div class="hero__text">
        <h1>
          {% translate "Model your local energy system" %}
        </h1>
        <span>
          {% translate "Use the GUI to include sector-coupling and optimize the energy system model subject to equality constraints" %}
        </span>
        <a href="{% url 'signup' %}" class="btn btn--medium">
          {% translate "Try out" %}
        </a>
      </div>
      <div class="hero__image">
        <img src="{% static 'assets/illustrations/energy_system_gui.png' %}" alt="Energy system GUI">
      </div>
    </div>
  </section>
  <section class="sponsors">
    <div class="wrapper">
      <div>
        <img src="{% static 'assets/logos/logo-hsn.svg' %}" alt="Hochschule Nordhausen" style="height: 100px;">
      </div>
      <div>
        <span>gefördert durch:</span>
        <img src="{% static 'assets/logos/tmuen-logo.svg' %}" alt="Thüringer Ministerium für Umwelt, Energie und Naturschutz" style="height: 100px;">  
      </div>
      <div>
        <img src="{% static 'assets/logos/zo.rro_zweii-logo.svg' %}" alt="ZO.RRO ZWEI" style="height: 100px;">  
      </div>
      <!-- <img src="{% static 'assets/logos/theen-logo.svg' %}" alt="ThEEN"> -->
    </div>
  </section>
</main>
{% endif %}
{% endblock index %}