{% extends 'scenario/scenario_progression.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load i18n %}

{% block head_block %}
<style>
.highlight {
  background-color: blue;
}
</style>
{% endblock head_block %}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block progression_content %}



<main>

    <section class="dashboard">
        <div>

            {% if simulation_status %}

                <div class="row">

                    <a class="btn btn--medium" href="{% url 'view_mvs_data_input' scen_id %}" >{% translate "Proof parameters JSON file" %} </a>
                    {% if simulation_status != "MODIFIED" %}
                    The simulation <a href="{{ MVS_GET_URL }}{{ mvs_token }}">{{ mvs_token }}</a> has been started, its status is <span>{{ simulation_status }}</span>
                    {% else %}
                    The parameters of the scenario linked to the simulation <a href="{{ MVS_GET_URL }}{{ mvs_token }}">{{ mvs_token }}</a> have been changed, you can rerun the simulation to update the results, please note that existing results will be erased only if the simulation does not have errors
                    {% endif %}
                </div>

                <div class="row">
                    {% if simulation_status == "DONE" %}
                        <a class="btn btn--medium" style="display:none;" href="{% url 'update_simulation_results' proj_id scen_id %}" >{% translate "Update results" %} </a>
                        <a class="btn btn--medium" href="{% url 'scenario_visualize_results' scen_id %}" >{% translate "Check results dashboard" %} </a>
                    {% elif simulation_status == "ERROR" %}
                        <p>{{ simulation_error_msg }}</p>
                        <a class="btn btn--medium" href="{% url 'view_mvs_data_input' scen_id %}" >{% translate "Proof parameters JSON file" %} </a>
                        <a class="btn btn--medium" href="" >{% translate "Link to send bug report automatically" %} </a>

                    {% elif simulation_status == "PENDING" %}
                        <form method="post" action="{% url 'check_simulation_status' scen_id %}">
                            {% csrf_token %}
                            <button class="btn btn--medium" type="submit" > {% translate "Check status" %}</button>
                        </form>
                    {% endif %}
                </div>
            {% else %}
                <div class="row">{% translate "You can now click on 'Run simulation' button" %}</div>
            {% endif %}

        </div>
    </section>


</main>



{% endblock progression_content %}


{% block end_body_scripts %}
<script>

</script>

{% endblock end_body_scripts %}

{% block footer %}
<div class="step-footer">

    <div>
        <a class="btn btn--medium btn--hollow btn--previous" href="{% url 'scenario_steps_edit' proj_id scen_id step_id|add:-1 %}" aria-disabled="true">{% translate "Previous" %}</a>

        <form method="post" action="{% url 'request_mvs_simulation' scen_id %}">
            {% csrf_token %}
            <button class="btn btn--medium" type="submit" > {% translate "Run simulation" %}</button>
        </form>

    </div>
</div>
{% endblock footer %}